.container {
    margin-top: 30px;
}

.texts {
    margin-top: 10px;
}
.title {
    font-size: 18px;
    font-weight: 500;
    color: var(--clr-primary);
}
.location {
    font-size: 14px;
    font-weight: 500;
    color: var(--clr-primary);
    margin-top: 5px;
}
.tags {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    margin-top: 10px;
}
.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 0;
    border-radius: 8px;
    color: var(--clr-light);
    background-color: var(--clr-primary);
    width: 110px;
    font-size: 10px;
}

.other {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.host {
    display: flex;
    align-items: center;
    justify-content: center;
}
.host_name {
    font-size: 14px;
    font-weight: 500;
    color: var(--clr-primary);
    max-width: 80px;
    text-align: right;
}
.host_picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.description,
.equipments {
    margin-top: 20px;
}

@media screen and (min-width: 700px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }

    .carrousel {
        grid-column: span 2;
    }

    .other {
        flex-direction: column-reverse;
        align-items: flex-end;
        justify-content: center;
    }

    .rating {
        margin-top: 20px;
    }
}

@media screen and (min-width: 1000px) {
    .container {
        column-gap: 40px;
    }

    .title {
        font-size: 2.1rem;
    }
    .location {
        font-size: 1.1rem;
    }
    .tag {
        font-size: 0.9rem;
        width: 150px;
        border-radius: 30px;
    }

    .host_name {
        font-size: 1.1rem;
    }

    .host_picture {
        width: 64px;
        height: 64px;
    }
}
