.container {
    margin-top: 30px;
}
.title_container {
    background-image: url("./home.png");
    background-size: 120%;
    background-position: right;
    background-repeat: no-repeat;
    backdrop-filter: invert(0.5);
    border-radius: var(--radius);
    overflow: hidden;
}

.title_backdrop {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    display: flex;
    padding: 30px 100px 30px 20px;
}

.title {
    font-size: 1.5rem;
    color: var(--clr-light);
    font-weight: 500;
}

.content {
    margin-top: 22px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
    align-items: center;
}

@media screen and (min-width: 700px) {
    .content {
        background-color: #f6f6f6;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        padding: 40px;
        margin-top: 40px;
        border-radius: 20px;
    }
}

@media screen and (min-width: 1000px) {
    .title_container {
        height: 250px;
    }

    .title_backdrop {
        justify-content: center;
        align-items: center;
    }

    .title {
        font-size: 3rem;
    }
}

@media screen and (min-width: 1200px) {
    .content {
        background-color: #f6f6f6;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        padding: 40px;
        margin-top: 40px;
    }
}
