.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
}

.nav {

}

.link {
    text-decoration: none;
    color: var(--clr-primary);
    text-transform: uppercase;
    margin-left: 20px;
    font-size: .9rem;
    font-weight: 500;
}

.link:hover {
    text-decoration: underline;
}